<div class="clear-both"></div>
<h2>Изменение пароля</h2>
<form id="change-password-form" method="post" action="{$wa->getUrl('shop/frontend/changePassword/')}">
    <div class="wa-form">
        <div class="wa-field wa-field-password">
            <div class="wa-name">Пароль</div>
            <div class="wa-value"><input type="password" value="" name="data[password]"></div>
        </div>
        <div class="wa-field wa-field-new-password">
            <div class="wa-name">Новый пароль</div>
            <div class="wa-value"><input type="password" value="" name="data[new_password]"></div>
        </div>
        <div class="wa-field wa-field-password_confirm">
            <div class="wa-name">Подтвердите пароль</div>
            <div class="wa-value"><input type="password" value="" name="data[password_confirm]"></div>
        </div>
        <div class="wa-field">
            <div class="wa-value">
                <input type="submit" value="Сохранить">
                <div id="response-status"></div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function() {
        $('#change-password-form').submit(function() {
            var $form = $(this);
            $.ajax({
                type: 'POST',
                url: $form.attr('action'),
                dataType: 'json',
                data: $form.serialize(),
                success: function(data, textStatus, jqXHR) {
                    if (data.status == 'ok') {
                        $form.find('#response-status').html(data.data.message);
                        $form.find('#response-status').css('color', '#008727');
                        setTimeout(function() {
                            $form.find('#response-status').hide();
                        }, 3000);
                    } else {
                        $form.find('#response-status').html(data.errors);
                        $form.find('#response-status').css('color', '#FF0000');
                    }
                }
            });
            return false;
        });
    });


</script>