<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.cookie.js"></script>
<script>
    $(function() {
    {*скрытие стандлартного блока "Зарегистрироваться как постоянный покупатель"*}
        $('#create-user').closest('.wa-field').hide();
        $('#mailer-subscribe').click(function() {
            if ($(this).attr('checked')) {
                $.cookie('mailer_subscribe', 1);
            } else {
                $.cookie('mailer_subscribe', 0);
            }
        });
    });
</script>

{*Вывод чекбокса с запросом подписки*}
{if $mailer_exists && $mailer_subscribe == 'manually'}
    <div style="clear: both;"></div>
    <div class="wa-form">
        <div class="wa-field">
            <div class="wa-value">
                <label><input id="mailer-subscribe" type="checkbox" value="1" name="mailer_subscribe"> Получать информацию об акциях и распродажах</label>
            </div>
        </div>
    </div>
{/if}